<script src="https://github.com/mdaines/viz.js/releases/download/v1.7.0/viz-lite.js"></script>
<script>
  onload = function() {
    //document.body.innerHTML += Viz("digraph { a -> b; }");
    document.body.innerHTML += Viz("{{{mapping}}}");
  }
</script>


<title>My application!!!</title>
  <h1>Hello, World!</h1>
    <!-- Result is {{result}} -->

    
	
 

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>


    


