<script src="https://github.com/mdaines/viz.js/releases/download/v1.7.0/viz-lite.js"></script>
<script>
  onload = function() {
    //document.body.innerHTML += Viz("digraph { a -> b; }");
    document.body.innerHTML += Viz("{{{mapping}}}");

  }
</script>

<style>
  svg {border:1px solid black;}
</style>


<title>Veysel Demo</title>
  <h1>Veysel Demo</h1>
    
  Enter the source and the target trees in Yaml format.
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">A:
  - B:  
    - D:
---
A:
  - B:
  - C:
    - D:</textarea>
        <br>
        <input type="submit">
  </form>

  <h2>Result:</h2>
  <div>Cost: {{cost}}</div>


    


